/* UI  */
.text-primary {
    color: var(--primary-color) !important;
}


.btn-secondary {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1.1rem;

    border: 2px solid var(--primary-color);
    border-radius: 5px;

    color: var(--font-color);
    text-decoration: none;

    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-secondary:hover {
    background-color: rgba(var(--primary-color-rgb), .1);
}

/* Menu section */
.menu {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menu a {
    color: var(--font-color);
    font-size: .85rem;
    font-weight: 450;
    text-align: center;
    text-decoration: none;

    padding: 1.5rem;
}

.menu a:hover,
.menu a.active {
    color: var(--primary-color);
}

/* Hero Section  */
.hero-section {
    margin: 2.3rem 4.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.3rem;
}

.title-hero {
    font-family: var(--font);
    font-size: 54.4px;
    font-weight: 500;
    line-height: 75px;
    text-align: center;
}

.sub-title-hero {
    font-family: var(--font);
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    text-align: end;
}