:root {
  --bg-content: rgba(248, 255, 247, 0.05);
  --dark-color: #282F37;
  --primary-color: #FF6B6B;
  --light-color: #F8FFF7;
  --font: Fira Code, 'Segoe UI', Geneva, sans-serif;
  --font-color: #FFFFFF;

  --primary-color-rgb: 255, 107, 107;
}

* {
  margin: 0;
  padding: 0;
  /* border: red solid 1px; */
}

body {
  background-color: var(--dark-color);
  font-family: var(--font);
  color: var(--font-color);
  padding: 0 8.5%;
}

#root {
  padding: .3rem 4.2rem;
  background-color: var(--bg-content);
}